@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-neumorphic {
  border-radius: 41px;
  background: #f5fafc;
  box-shadow: 16px 16px 50px #dadfe0, -16px -16px 50px #ffffff;
}

.bg-neumorphic-compos {
  border-radius: 41px;
  background: #f5fafc;
  box-shadow: 16px 20px 200px #d8e0e2, -16px -16px 50px #ffffff;
}

/* ----------------Error page-------------------- */
.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
/* ----------------/Error page-------------------- */

/* -----------------Scrollbar-------------------- */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(83, 215, 255);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 200, 253);
}
/* ----------------/Scrollbar-------------------- */
